%meta{:charset => "utf-8"}/
%title Dan Barber - Web Developer &amp; Designer
%meta{:content => "", :name => "description"}/
%meta{:content => "", :name => "author"}/
/ http://t.co/dKP3o1e
%meta{:content => "True", :name => "HandheldFriendly"}/
%meta{:content => "320", :name => "MobileOptimized"}/
%meta{:content => "target-densitydpi=160dpi, initial-scale=1", :name => "viewport"}/
/
  For less capable mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">
/ For all browsers
%link{:href => "css/style.css?v=1", :rel => "stylesheet"}/
/ JavaScript at bottom except for Modernizr and Typekit
%script{:src => "js/libs/modernizr-1.7.min.js"}
/ Typekit
%script{:src => "http://use.typekit.com/ewi2mjz.js", :type => "text/javascript"}
:javascript
  try{Typekit.load();}catch(e){}
%link{:href => "favicon.png", :rel => "shortcut icon"}/
/ Microsoft. Delete if not required
%meta{:content => "on", "http-equiv" => "cleartype"}/
%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
/ http://t.co/y1jPVnT
%link{:href => "/", :rel => "canonical"}/
