%div#stripe
  .container
    %canvas#colours{ :width => 890, :height => 12 }

%header.clearfix{:role => "banner"}
  .container
    %h1#main_heading Dan Barber
    %h2 Web Designer &amp;&nbsp;Developer
