<!DOCTYPE html>
<html class="no-js" lang="en" manifest="default.appcache?v=1">
  <head>
    <%= partial "partials/_head.html.erb" %>
  </head>
  <body class="clearfix">
    <%= partial "partials/_header.html.erb" %>
    <%= yield %>
    <%= partial "partials/_footer.html.erb" %>
  </body>
</html>

