<meta charset="utf-8"/>
<title>Dan Barber - Web Developer &amp; Designer</title>
<meta name="description"/>
<meta name="author"/>
<!-- http://t.co/dKP3o1e -->
<meta content="True" name="HandheldFriendly"/>
<meta content="320" name="MobileOptimized"/>
<meta content="target-densitydpi=160dpi, initial-scale=1" name="viewport"/>
<!--
  For less capable mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">
-->
<!-- For all browsers -->
<%= stylesheet_link_tag "https://cloud.typography.com/7434852/7265372/css/fonts.css" %>
<%= stylesheet_link_tag "css/style" %>
<!-- JavaScript at bottom except for Modernizr and Typekit -->
<%= javascript_include_tag "js/libs/modernizr-1.7.min.js" %>
<%= favicon_tag "favicon.png" %>
<!-- http://t.co/y1jPVnT -->
<link href="/" rel="canonical"></link>
