<div id="stripe">
  <div class="container">
    <canvas height="12" id="colours" width="890"></canvas>
  </div>
</div>
<header class="clearfix" role="banner">
  <div class="container">
    <h1 class="icon-logo" id="main_heading">Dan Barber</h1>
    <h2>Web Developer</h2>
  </div>
</header>
