<div id="stripe">
  <div class="container">
    <canvas height="12" id="colours" width="890"></canvas>
  </div>
</div>

<header class="clearfix" role="banner">
  <div class="header container">
    <div class="logo">
      <div class="logo__wrapper">
        <%= partial "img/logo.svg" %>
      </div>
    </div>
    
    <div>
      <h1 class="header__heading" id="main_heading">Dan Barber</h1>
      <h2 class="header__subheading">Web Developer</h2>
    </div>
  </div>
</header>
