@font-face {
  font-family: 'source_sans';
  src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans';
  src: url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-light-webfont.woff') format('woff');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans';
  src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
