%h3 Contact
%p.fn.n
  %span.given-name Dan
  %span.family-name Barber
%p
  %a.email{:href => "mailto:hello@danbarber.me"} hello@danbarber.me
%p.tel +44 (0) 1752 546981
%p
  %a.url{:href => "http://danbarber.me"} http://danbarber.me
%p.icon-github
  %a.url{:href => "http://github.com/danbee"} github.com/danbee
%p.icon-twitter
  %a.url{:href => "http://twitter.com/danbee"} @danbee
