%h3 Contact
%p.fn.n
  %span.given-name Dan
  %span.family-name Barber
%p
  %a.email{:href => "mailto:cv@danbarber.me"} cv@danbarber.me
%p.tel +44 (0) 1752 546981
%p
  %a.url{:href => "http://pixelhum.com"} http://danbarber.me
