%h3 Contact
%p.fn.n
  %span.given-name Dan
  %span.family-name Barber
%p.adr
  %span.street-address 41D Longacre
  %br/
  %span.locality Plymouth
  %br/
  %span.postal-code PL7 4RQ
  %br/
  %span.country-name United Kingdom
%p
  %a.email{:href => "mailto:dan.barber@pixelhum.com"} dan.barber@pixelhum.com
%p.tel +44 (0) 1752 546981
%p
  %a.url{:href => "http://pixelhum.com"} http://pixelhum.com
