!!! 5
/
  Dan Barber's CV
  Author: Dan Barber
  URL: http://pixelhum.com/cv
%html.no-js{:lang => "en", :manifest => "default.appcache?v=1"}
  %head
    = render "partials/_head.html.haml"
  %body.clearfix
    = render "partials/_header.html.haml"
    = yield
    = render "partials/_footer.html.haml"
