!!!
/
  Dan Barber's CV
  Author: Dan Barber
  URL: http://pixelhum.com/cv
/[if IEMobile 7 ] <html class="no-js iem7" manifest="default.appcache?v=1">
/[if lt IE 7 ] <html class="no-js ie6" lang="en">
/[if IE 7 ] <html class="no-js ie7" lang="en">
/[if IE 8 ] <html class="no-js ie8" lang="en">
/ [if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!
%html.no-js{:lang => "en", :manifest => "default.appcache?v=1"}
  / <![endif]
  %head
    = render "partials/_head.html.haml"
  %body.clearfix
    = render "partials/_header.html.haml"
    = yield
    = render "partials/_footer.html.haml"
