<h3>Contact</h3>

<p class="fn n"><span class="given-name">Dan</span> <span class="family-name">Barber</span></p>
<p><a class="email" href="mailto:hello@danbarber.me">hello@danbarber.me</a></p>
<p><a class="url" href="https://danbarber.me">https://danbarber.me</a></p>
<p class="icon-github"> <a class="url" href="http://github.com/danbee">github.com/danbee</a></p>
<p class="icon-twitter"> <a class="url" href="http://twitter.com/_danbarber">@_danbarber</a></p>
